<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="vn.casperpas.sound_stream">
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
</manifest>
